
.item-a {
  grid-area: row11;
  background-color: rgb(79, 197, 223);

}

.item-b {
  grid-area: row12;
}
.item-c {
  grid-area: row13;
}

.gallery {
  display: grid;
  width: 100%;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "row11 row12 row13"
  "row21 row22 row23"
  "row31 row32 row33";
  grid-gap: 10px;
  background-color: black;
  padding-top: 10px;
}

.item-a >img {
  object-fit: scale-down;
  width: 100%;
}
.item-a:hover {
}
.item-b >img {
  object-fit: scale-down;
  width: 100%;
}
.item-c >img {
  object-fit: scale-down;
  width: 100%;
}

.item-d >img {
  object-fit: fill;
  width: 100%;
}
